  
  


    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/view/1">Monday</a>
            <a class="nav-item nav-link" href="/view/2">Tuesday</a>
            <a class="nav-item nav-link" href="/view/3">Wednesday</a>
            <a class="nav-item nav-link" href="/view/4">Thursday</a>
            <a class="nav-item nav-link" href="/view/5">Friday</a>
  
            
          </div>
        </div>
      </nav>