  <!-- Homepage view -->
  {{>navbar}}

  
  <div class = "container-fluid">

<div class = "top-buffer">
   
    <div class="row">
      
      {{#each specials}}
      <div class = "col">
        <figure>
      <a href = "/view/{{id}}"> <img src={{image.[0]}} class="day"></a>
   <a href = "/view/{{id}}"> <caption align = "bottom"> <h2>{{weekday}}</h2> </caption></a> 
        </figure>
         </div> 
         {{/each}}
       
        </div>
 </div>
 </div>

  

  