  <!-- Homepage view -->
  {{>navbar}}

  {{#each specials}}
  <div class="row">
    <div class="column">
      <figure>
        <img class= "day" src={{image.[0]}} alt="" style="width:100%">
        <figcaption>{{weekday}}</figcaption>
      </figure>
    </div>
    {{/each}}
  {{!-- <div class="column">
    <figure>
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
    <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
        <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div> --}}