  <!-- Homepage view -->
  <div class="row">
    <div class="column">
      <figure>
        <img class= "day" src = "images/"+{{specials.[0].image.[0]}} alt="" style="width:100%">
        <figcaption>Monday {{specials.[0].image.[0]}}</figcaption>
      </figure>
    </div>
  <div class="column">
    <figure>
      <img class= "day" src="images/placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
    <img class= "day" src="/images/placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
        <figcaption>Monday</figcaption>
    </figure>
  </div>
  <div class="column">
    <figure>
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
      <figcaption>Monday</figcaption>
    </figure>
  </div>