  <!-- Homepage view -->
  <div class="row">
    <div class="column">
      <img class= "day" src="placeholder.jpg" alt="" style="width:100%">
    </div>
    <div class="column">
      <img class="day" src="placeholder.jpg" alt="" style="width:100%">
    </div>
    <div class="column">
      <img class="day" src="placeholder.jpg" alt="" style="width:100%">
    </div>
    <div class="column">
      <img class="day" src="placeholder.jpg" alt="" style="width:100%">
    </div>
    <div class="column">
      <img class="day" src="placeholder.jpg" alt="" style="width:100%">
    </div>
  </div>